<footer class="container mx-auto px-4 py-5">
  <div class="bg-[#06439C] py-3">
    <div class="flex justify-center">
      <img
        src="/img/igecoLogo.webp"
        alt="Italian German Exhibition Company Logo"
        class="mb-5 w-auto h-20"
      />
      <a href="https://www.piac.org.mx" target="_blank" rel="noreferrer">
        <img src="/img/PIAC.webp" class="w-auto h-20" alt="PIAC" />
      </a>
    </div>
  </div>
  <div class="mt-5 grid md:flex gap-5 justify-center items-center">
    <p class="text-xl">
      <strong>IGECO</strong>
      <br />
      Blvd. Francisco Villa 102, piso 14 <br />
      Col Oriental, 37510 León Guanajuato, México <br />
      <a href="mailto:info@igeco.mx" target="_blank">info@igeco.mx</a>
    </p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d59551.61759992051!2d-101.654091!3d21.113519!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842bbf498c5bc1fb%3A0x86fa719e9f9cf16!2sITALIAN%20GERMAN%20EXHIBITION%20COMPANY%20M%C3%89XICO!5e0!3m2!1ses!2smx!4v1748316196610!5m2!1ses!2smx"
      class="w-full h-64 md:h-96"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div
    class="border-y-2 border-black py-5 text-center text-black font-bold text-xl"
  >
    @ 2025 Italian German Exhibition Company
  </div>
</footer>
