---
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import { constans_persons } from "../../data/constans_persons";

changeLanguage("en");

const currentLanguage = i18next.language;
---

<Layout>
  <main>
    <section class='container mx-auto px-4 py-8'>
      <i>Deutsche Messe</i>
      <h1 class='text-5xl font-bold mb-4'>{t('AboutUs.title')}</h1>
      <p class='text-xl mb-6' set:html={t('AboutUs.text')} />

      <div class='grid md:grid-cols-3 gap-8 justify-center items-center'>
        {constans_persons.map(person => (
          <div>
            <img
              src={person.image}
              alt={person.name}
              class='w-56 h-56 rounded-full shadow-lg object-cover mx-auto'
            />
            <p class='text-center font-semibold mt-3'>
              <strong class='text-xl'>{person.name}</strong><br /> 
              {currentLanguage === "en" ? person.position_en : person.position}
            </p>
          </div>
        ))}
        </div>
    </section>
  </main>
</Layout>
