---
import Events from '../components/Events.astro'
import Card from '../components/shared/Card.astro'
import Welcome from '../components/Welcome.astro'
import { events, carouselEvents } from '../data/constans_events'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <main>
    <Welcome />
    <section class='container mx-auto px-4'>
      <p class='font-bold text-4xl text-center'>Our Fairs</p>
      <Card events={events} />
    </section>
    <section class='mt-20'>
      <p class='font-bold text-4xl text-center'>Global Fairs</p>
      <Events events={carouselEvents} isLeftToRight={true} />
    </section>
  </main>
</Layout>
