<section class='container mx-auto px-4'>
  <p class='text-center text-5xl font-bold text-[#355282] m-8'>VIDEOS</p>
  <div class='grid md:grid-cols-3 gap-8 justify-center items-center'>
    <lite-youtube
      videoid='Vgd9L5iemws'
      posterquality='maxresdefault'
      params='controls=0&enablejsapi=1'
      class='rounded-lg w-full h-52'></lite-youtube>

    <lite-youtube
      videoid='YWUJrv0bXko'
      posterquality='maxresdefault'
      params='controls=0&enablejsapi=1'
      class='rounded-lg w-full h-52'></lite-youtube>

    <lite-youtube
      videoid='RIoD_MLMRZ0'
      posterquality='maxresdefault'
      params='controls=0&enablejsapi=1'
      class='rounded-lg w-full h-52'></lite-youtube>

    <lite-youtube
      videoid='q3zKP04Cej0'
      posterquality='maxresdefault'
      params='controls=0&enablejsapi=1'
      class='rounded-lg w-full h-52'></lite-youtube>

    <lite-youtube
      videoid='_API66_gvnk'
      posterquality='maxresdefault'
      params='controls=0&enablejsapi=1'
      class='rounded-lg w-full h-52'></lite-youtube>

    <lite-youtube
      videoid='rj6ubgIR6Do'
      posterquality='maxresdefault'
      params='controls=0&enablejsapi=1'
      class='rounded-lg w-full h-52'></lite-youtube>
  </div>
</section>

<script>
  import '@justinribeiro/lite-youtube'
</script>
