---
import Carousel from './shared/Carousel.astro'

import { carouselhome } from '../data/constans_carousel'
---

<section class='mt-10 container mx-auto px-4'>
  <Carousel images={carouselhome} />
</section>
